In [2]:
import requests
from bs4 import BeautifulSoup

#### 네이버 -> 증권 -> 시장지표
- 오늘의 환율 값을 가져오기

In [3]:
res = requests.get("https://finance.naver.com/marketindex/")
data = BeautifulSoup(res.content,"lxml");

currency = data.find_all("h3")
exRate = data.find_all("span",class_ = "value")

ln = min(len(currency), len(exRate))

for i in range(0,ln) :
    print(currency[i].text, end = " : ")
    print(exRate[i].text)

미국 USD : 1,420.10
일본 JPY(100엔) : 1,006.73
유럽연합 EUR : 1,635.46
중국 CNY : 194.71
달러/일본 엔 : 142.2000
유로/달러 : 1.1350
영국 파운드/달러 : 1.3233
달러인덱스 : 99.1200
WTI : 64.01
휘발유 : 1636.43
국제 금 : 3328.4
국내 금 : 154826.99

#### CSS선택자 사용하여 데이터 추출
- select_one(선택자) : 선택요소 하나를 추출
- select(선택자) : 선택자로 요소 여러개를 리스트로 추출
- - .select('.클래스')
  - .select('#아이디')
  - .select('태그.클래스')
  - .select('태그1>태그2') : 상하관계
  - .select('태그 태그) : 자손관계
  -

In [26]:
html = """
<html>
<body id="me">
<div id="smart">
      <h1 id="title">스마트 미디어 도서</h1>
      <ul class="items">
          <li>파이썬입문</li>
          <li>머신러닝</li>
          <li>딥러닝입문</li>
      </ul>
 </div> 
</body>
</html>
"""

In [28]:
#div태그에 id가 smart이고 그아래 h1요소값을 가져오기 : select_one()
# div#smart > h1
soup=BeautifulSoup(html,"lxml")
data = soup.select_one('div#smart > h1').text
print(data)

스마트 미디어 도서

In [32]:
#select()를 사용해서 도서 목록 가져오기
soup=BeautifulSoup(html,"lxml")
data = soup.select('div#smart > ul.items > li')
for d in data :
    print(d.text);

파이썬입문
머신러닝
딥러닝입문

In [39]:
html2="""
<html>
<body>
    <h1>시장에서 사야할 과일 목록</h1>
    <div>
        <p id="fruits1" class="name1">바나나
            <span class="price">3000</span>
            <span class="count">10개</span>
            <a href="http://www.banana.com">banana.com</a>
        </p>
    </div>
    <div>
        <p id="fruits2" class="name2">채라
            <span class="price">2000</span>
            <span class="count">5개</span>
            <a href="http://www.cherry.com">cherry.com</a>
        </p>
    </div>
</body>
</html>
"""

soup = BeautifulSoup(html2,"lxml")

In [40]:
# class값이 name1찾기 : select()
print(soup.select('.name1'))

[<p class="name1" id="fruits1">바나나
            <span class="price">3000</span>
<span class="count">10개</span>
<a href="http://www.banana.com">banana.com</a>
</p>]

In [42]:
print(soup.select("a[href]"))

[<a href="http://www.banana.com">banana.com</a>, <a href="http://www.cherry.com">cherry.com</a>]

In [49]:
res = requests.get("https://search.naver.com/search.naver?sm=tab_hty.top&where=nexearch&ssc=tab.nx.all&query=%EC%A3%BC%EA%B0%84%EC%98%88%EB%8A%A5+%EC%8B%9C%EC%B2%AD%EB%A5%A0&oquery=%EB%84%A4%EC%9D%B4%EB%B2%84%EC%A3%BC%EA%B0%84%EC%98%88%EB%8A%A5+%EC%8B%9C%EC%B2%AD%EB%A5%A0&tqi=imA6zsqo15Vss7E%2FMGossssstfR-146647")

data = BeautifulSoup(res.content,"lxml")
names = data.select("td > p > a")
for i in names[::2] :
    print(i.text)

미운 우리 새끼
1박 2일 시즌4
나 혼자 산다
아침마당
골 때리는 그녀들
전국노래자랑
신발 벗고 돌싱포맨
TV 동물농장
궁금한 이야기 Y
일꾼의 탄생
우리말 겨루기
사장님 귀는 당나귀 귀
시니어 토크쇼 황금연못
불후의 명곡
가요무대
살림하는 남자들 시즌2
런닝맨
동상이몽 2 - 너는 내 운명
라디오스타
놀면 뭐하니?

####리스트를 표(DataFrame)만들기

In [50]:
import pandas as pd

In [64]:
lis = [] #빈리스트 만들기
rank = 0 #순위
for i in names[::2] :
    rank += 1
    name = i.text
    li = [rank,name]
    lis.append(li)

In [76]:
df = pd.DataFrame(lis,columns=["rank","name"])
print(df)

    rank              name
0      1          미운 우리 새끼
1      2         1박 2일 시즌4
2      3           나 혼자 산다
3      4              아침마당
4      5         골 때리는 그녀들
5      6            전국노래자랑
6      7        신발 벗고 돌싱포맨
7      8           TV 동물농장
8      9         궁금한 이야기 Y
9     10            일꾼의 탄생
10    11           우리말 겨루기
11    12      사장님 귀는 당나귀 귀
12    13      시니어 토크쇼 황금연못
13    14            불후의 명곡
14    15              가요무대
15    16      살림하는 남자들 시즌2
16    17               런닝맨
17    18  동상이몽 2 - 너는 내 운명
18    19             라디오스타
19    20           놀면 뭐하니?

In [78]:
df.to_csv("list_names.csv",index=False,encoding="euc-kr");

In [79]:
list_names=pd.read_csv("list_names.csv",encoding="euc-kr")
list_names.head(3)

   rank       name
0     1   미운 우리 새끼
1     2  1박 2일 시즌4
2     3    나 혼자 산다

#### 실습1. 네이버에서 쿠키런 킹덤 검색해오기

In [80]:
keyword="쿠키런 킹덤"
url = "https://search.naver.com/search.naver?sm=tab_hty.top&where=nexearch&ssc=tab.nx.all&query="+keyword;
res = requests.get(url)
soup = BeautifulSoup(res.content,'lxml')

In [87]:
#쿠키런 킹덤 제목 가져오기
title = soup.select_one("div.title_area a")
print(title.text)

쿠키런: 킹덤

In [95]:
titles = soup.select("div.list_info._scroller ul li div.title_box a")
li = []
for t in titles :
    li.append(t.text);
df = pd.DataFrame(li,columns=['name']);
df.to_csv("game_list.csv",index=False,encoding="euc-kr");

In [96]:
tables = pd.read_csv("game_list.csv",encoding="euc_kr");
print(tables)

              name
0        리그 오브 레전드
1       승리의 여신: 니케
2         트릭컬 리바이브
3             노바삼국
4          버섯커 키우기
5         우파루 오딧세이
6  별이되어라2: 베다의 기사들
7           던전앤파이터
8     PUBG: 배틀그라운드
9         소울 스트라이크