In [1]:
import sys
import os
sys.path.append(os.path.join(os.path.dirname(""),".."))

import numpy
import pandas
from IPython.display import display
import custom
from konlpy.tag import Okt

In [2]:
original_df = pandas.read_csv("data/ratings_test.txt", sep = "\t", encoding = "UTF8")

display(original_df)

            id                                           document  label
0      6270596                                                굳 ㅋ      1
1      9274899                               GDNTOPCLASSINTHECLUB      0
2      8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3      6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4      6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0
...        ...                                                ...    ...
49995  4608761          오랜만에 평점 로긴했네ㅋㅋ 킹왕짱 쌈뽕한 영화를 만났습니다 강렬하게 육쾌함      1
49996  5308387       의지 박약들이나 하는거다 탈영은 일단 주인공 김대희 닮았고 이등병 찐따 OOOO      0
49997  9072549                 그림도 좋고 완성도도 높았지만... 보는 내내 불안하게 만든다      0
49998  5802125     절대 봐서는 안 될 영화.. 재미도 없고 기분만 잡치고.. 한 세트장에서 다 해먹네      0
49999  6070594                                         마무리는 또 왜이래      0

[50000 rows x 3 columns]

In [3]:
df = original_df[['document','label']]

for i in range(len(df)) :
    df.iloc[i,0] = " ".join(Okt().morphs(custom.text_preprocess_kor(str(df.iloc[i,0]))))

word_len = []
for i in range(len(df)) :
    word_len.append(len(df.iloc[i,0].split()))
df["word_len"] = word_len

df = df.drop(df[df["word_len"] == 0].index, axis = 0)

display(df)

                                                document  label  word_len
0                                                      굳      1         1
1                                                             0         0
2                 뭐 야 이 평점 들 은 나쁘진 않지만 점 짜 리 는 더 더욱 아니잖아      0        15
3                           지루하지는 않은데 완전 막장 임 돈 주고 보기 에는      0         9
4             만 아니었어도 별 다섯 개 줬을텐데 왜 로 나와서 제 심기 를 불편하게 하죠      0        14
...                                                  ...    ...       ...
49995     오랜 만 에 평점 로 긴 했네 킹왕짱 쌈뽕 한 영화 를 만났습니다 강렬하게 육 쾌함      1        16
49996        의지 박약 들 이나 하는거다 탈영 은 일단 주인공 김대희 닮았고 이등병 찐 따      0        14
49997                  그림 도 좋고 완성 도도 높았지만 보는 내내 불안하게 만든다      0        10
49998  절대 봐 서는 안 될 영화 재미 도 없고 기분 만 잡 치고 한 세트 장 에서 다 해먹 네      0        20
49999                                       마무리 는 또 왜 이래      0         5

[50000 rows x 3 columns]

In [4]:

df.to_csv("data/korean_movie_test.txt", sep = "\t", encoding = "UTF8")